  <!-- First Slide -->
    <div class="carousel-item active">
      <div class="d-flex flex-wrap align-items-center">
        <!-- Left Image (Dog) -->
        <div class="col-md-7">
          <img src="{% static 'images/dog-raincoat.png' %}" class="d-block w-100" alt="Dog in Raincoat">
        </div>

        <!-- Right Content -->
        <div class="col-md-5 d-flex flex-column justify-content-center align-items-center position-relative" style="padding: 72px; background-color: #92f992;">
          <!-- Rain Effect Container -->
           <div class="d-flex gap-2">
           <img src="{% static 'images/rain.png' %}" alt="Umbrella" style="max-width: 100px;">
           <div>
          <h2 class="fw-bold text-dark">Monsoon Edition for Dogs</h2>
           <img src="{% static 'images/umbrella-s.png' %}" alt="Umbrella" style="max-width: 100px;">
          <p class="mb-2">100% Water Proof</p>
          </div>
          <div id="rain-effect"></div>
          <img src="{% static 'images/umbrella.png' %}" alt="Umbrella" style="max-height: 70px; max-width: 50px; margin-left: -50px; margin-top: 60px;">
</div>
          <!-- Shop Button -->
          <a href="{% url 'shop:main_type_products' 'dog' %}" class="btn btn-primary btn-lg mt-3 shadow">
            Shop Now
          </a>
        </div>
      </div>
    </div>